.developer{
    background-color: rgb(213, 231, 255);
    padding: 15px;
    border-radius: 10px;
    transition: .6s;
}
.developer:hover {
    background-color: rgb(175, 200, 233);
}
.image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.info h4{
    font-size: 20px;
    margin: 15px 0px;
    color: rgb(54, 54, 54);
}
.info h4 span{
    font-size: 18px;
    font-weight: 400;
}
.btn{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: lightseagreen;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-color: lightslategrey;
    cursor: pointer;
}